.container{
    background-color: #0a1c28;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    p{
        color: #55c859;
        font-family: 'Nunito Sans', sans-serif;
    }
}

pre{
    color: #55c859;
    margin: auto;
    margin-top: 2rem;
    font-size: 0.5rem;
}

.author{
    min-height: 20px;
    margin: 0px auto;
    margin-top: 1rem;
    font-size: 1rem;

}

.text-quote{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    
}

.quote{
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 5rem;
    font-size: 2rem;
    padding: 0px 200px;
    text-align: center;
}

.greeting{
    margin: 0px auto;
    margin-top: 5rem;
    font-size: 3rem;
}

.date{
    margin: 0px auto;
    margin-top: 1rem;
    font-size: 6rem;
}

.overflow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.536);
    .search{
        margin: auto;
        font-size: 15rem;
        font-family: 'DotGothic16', sans-serif;
        color: #55c859;
    }
}

.shortCut{
    color: #a3f2a6 !important;
}