<div class="container">
  <p class="greeting"> {{greetin}}</p>
  <!-- <p class="date"> {{date}}</p> -->
  <!-- <pre>
    ⠀⠀⠀⠀⠀⠀⠀⢀⣠⣦⡰⣶⣶⣶⣶⣶⣤⣶⡄⣄⣂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠀⢀⣶⣄⠘⠉⢿⡇⢻⠽⡿⢻⣿⢻⣾⢹⠋⣿⢇⣶⡙⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⣀⣴⣏⠉⢻⡇⠒⣈⡁⢤⣥⣀⣈⣤⣌⣑⠺⠴⣃⣪⣿⢓⡘⡄⢦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⢀⣾⣯⣙⠟⢠⣴⣾⡝⢿⣷⣯⣟⡿⣿⣿⣿⣿⣷⣮⡁⢶⣾⣟⢸⣎⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⢀⣿⣿⣿⢏⡔⣿⣏⢹⣿⣮⡻⣿⣿⣿⣮⡻⣟⡻⣿⣿⣿⣗⢌⠿⣞⣿⣇⢦⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠾⠿⢿⢃⢸⡇⣿⢻⣧⣿⣿⣿⡞⢿⣿⣿⢿⣜⠻⠦⡑⢍⠻⣆⠙⢿⣽⣿⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠐⠀⣼⣿⡇⣿⡏⣿⣿⣿⣿⣿⡄⡙⢻⣷⠙⢦⡀⠀⠀⠀⠉⠀⠘⣛⠻⠀⠃⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⢠⣿⣿⡇⢿⣧⠹⡞⢿⣿⡟⠃⠹⠆⠀⡖⠈⠃⠀⣀⠀⠀⠀⠀⢺⡇⠀⠀⢂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠰⡟⣿⣧⠈⢿⡆⠙⢦⣙⠻⣄⣆⠘⣷⢁⣀⢆⣐⢹⠀⣷⡄⣿⡈⡇⠀⠀⠰⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠈⡇⣿⢹⡄⠈⠳⠄⠈⠉⠑⡚⠿⠦⠻⣿⣿⣾⣶⣿⠀⢾⣿⢿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢤⣤⣀⣀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⡅⠘⣆⠻⡀⠀⠀⠒⠀⡐⢿⣶⢶⣾⣿⣿⣿⣿⣿⠀⢹⣿⣿⣻⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠛⠛⠿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠠⠀⢸⡃⠀⠀⢠⣦⣐⠾⣹⣿⣧⢻⣿⣿⣿⣿⡇⣰⡈⢏⣿⡇⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣜⣃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠀⠂⠀⢈⠃⠀⠀⠸⣿⣿⣶⣿⣿⣿⣮⣿⣿⡿⢿⡇⣹⡇⠘⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⠀⠀⣀⣴⣿⢟⣛⣛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠈⠀⠈⢸⣷⣤⠐⡀⠈⠻⣿⣿⣿⣿⣿⣿⣥⣴⣿⣿⡘⠁⠀⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣏⠰⢿⣿⣯⡵⠿⣛⡻⠷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠀⠌⠀⠀⡆⣿⣿⣸⣧⢀⡀⠈⠙⠛⠻⠿⠿⣿⣿⣿⠟⠁⠀⠀⠘⠀⠀⠀⠀⠘⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢺⣽⠀⠈⠩⠶⠶⠿⠛⠿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠌⡀⠂⢠⠁⣿⡯⢽⡇⣼⣿⣷⣦⣄⠂⠀⠀⢀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⢀⣤⣴⣶⣦⣄⡀⠀⠀⠀⠀⠀⠀⢸⡏⡄⠀⠀⠀⢲⢩⢷⡇⣸⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⢎⠀⡐⢨⠀⠹⣿⢸⡇⢿⣿⣿⣿⣿⣿⣦⡀⢲⡄⠀⠀⣀⠀⢰⣶⣦⠀⠈⠻⢶⡈⠻⣿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠘⣷⡀⠀⠀⠀⢸⣯⢯⠴⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⢈⢲⡐⣀⠃⡌⢀⡹⡆⢹⣜⢿⣿⣿⣿⣿⣿⣷⠀⢿⣶⣿⡧⠀⠈⣿⣿⣷⡀⠀⢀⣿⣦⡈⢫⡛⢿⣿⣷⠀⠀⠀⠀⠀⠀⣿⣷⡀⠀⠀⠐⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⢀⠂⣑⠢⡑⡐⢸⣷⣍⠘⢿⣿⣿⣿⠏⢻⣿⣿⣧⠈⢿⣿⡷⠀⠀⢻⣿⣿⣿⣦⣾⣿⣿⣷⣄⠈⠊⢹⣻⠇⠀⠀⠀⠀⢰⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⠀⠎⡔⡣⠥⣁⢸⣿⣿⣿⣷⣮⣿⡟⢠⠂⢻⡟⢻⣧⠈⠿⣿⣴⣴⣾⣿⣯⡻⣿⣿⣿⣿⣿⣿⣿⡖⣽⢛⡁⠀⠀⠀⢀⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⡘⠬⣜⡵⢣⠄⡘⣿⣿⣿⣿⣿⣿⡇⢺⠀⠀⠰⣸⣿⡇⢠⡛⡿⢲⣯⣛⠿⣿⡌⠛⣿⣿⣿⣿⣟⣘⣿⡾⠀⠀⠀⠀⢼⣿⣿⣿⣿⡆⠀⠀⢀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣄⣀
    ⠰⣑⣮⣝⣣⠂⠄⣿⣿⣿⣿⣿⣿⣇⠨⠀⠀⡞⣿⣿⠁⠀⠀⠛⢿⣷⣛⠾⣊⠷⢆⠘⣿⣿⡿⢩⣿⡻⠁⠀⠀⠀⠰⠈⣿⣿⣿⣿⡇⠀⠀⠀⠉⠈⠁⠉⠉⠈⠉⠉⠉⠈⢉⠈⠉
    ⡱⢌⣷⣟⡦⡉⠄⢸⣿⣿⣿⣿⣿⣿⠐⠀⠀⣿⡼⠃⠀⠀⠀⠀⠀⠈⠘⠷⣄⣩⡌⠀⠮⠛⢡⠛⠭⠁⠀⠀⠀⠀⠀⠁⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀
    ⡜⣩⣿⣿⣧⠑⡂⢸⣿⣿⣿⣿⣿⣿⠈⠐⣇⠸⡅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀
    ⡜⢴⣿⣿⣷⡁⢞⠸⣿⣿⣿⣿⣿⣿⠀⠀⠯⣄⠁⠀⠀⠀⠀⣀⣤⣴⣶⡶⠓⠀⣠⢸⣷⣄⠉⠉⠛⠿⠷⠆⠀⠀⠀⣼⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⠀⠀
    ⡜⣣⣿⣿⣷⡑⢺⢈⣿⣿⣿⣿⣿⣿⡇⢸⡄⠈⠂⠀⠀⠲⠿⢿⣭⠭⠔⣂⣵⣾⠏⣸⣿⣿⣿⣶⣦⣤⡀⠀⠰⢎⣹⣿⣿⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⢈⠀⠀
    ⡵⣹⣿⣿⡿⡌⢳⣎⣿⣿⣿⣿⣿⣿⡇⢸⣿⣆⠀⣐⢻⢓⣢⣤⣶⣾⣿⣿⣿⢏⣴⣿⣿⣿⣿⣿⣿⣿⣿⡄⠀⠈⠓⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀
    ⢧⣻⣿⣿⣿⢌⢳⣎⣿⣿⣿⣿⣿⣿⡇⢸⣿⣿⣷⡀⢣⡘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠀⠀⠐⠀⠀
    ⣧⢻⣿⣿⣿⡌⢺⡷⣿⣿⣿⣿⣿⣿⠁⢸⣿⣿⣿⣿⣦⠹⣎⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    ⣮⢻⣿⣿⣷⢎⣹⣷⢹⣿⣿⣿⣿⡏⠀⣿⣿⣿⣿⣿⣿⢀⡿⢀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀
    ⣏⢿⣿⣿⣿⠆⣾⣿⠸⣿⣿⣿⣿⣇⠀⢻⣿⣿⣿⡿⢃⡾⢁⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠀⠀⢹⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀
    ⣋⣛⡿⣿⣛⣭⣜⡛⠠⢹⣿⣿⣿⣿⠤⢙⣛⣛⣋⠁⡚⢡⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢀⣠⣀⣀⡄⢀⣤⣾⣿⡇⠀⠠⠸⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀
    ⢽⣹⣽⣳⣯⢷⣿⡇⢠⣿⣿⣿⣿⣿⡧⢸⣿⣿⠃⠠⢁⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡎⢿⡋⢍⣴⣿⣿⣿⣿⣷⠀⠀⠀⣿⣿⣿⣿⣿⣿⡿⠂⠀⠀
    ⠾⣽⣞⣷⡿⣿⣾⡇⣿⣿⣿⣿⣿⣿⠇⢸⣿⡟⠀⠂⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣱⡎⣵⣿⣿⣿⣿⣿⣿⣿⠀⠀⡀⢹⣿⣿⣿⣿⡟⢡⠄⠀⠀
    ⣻⣷⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⠀⣿⣿⠁⠠⠁⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⢰⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⢸⣿⣿⣿⢏⣼⡳⠂⠀⠀
    ⣷⣿⣿⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿⡏⢸⣿⡟⢀⠠⠀⣨⣝⣛⣛⣛⠛⠻⠿⠿⠿⢿⡿⠿⠿⠿⠟⠋⠁⠀⠀⠀⣾⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⠀⠀⠀⣿⡿⣣⣾⠛⠁⠀⠀⠀
    ⣿⣽⣿⣿⣿⣿⣿⣿⣸⣿⣿⣿⣿⡇⢸⡿⠁⡸⡄⣠⣿⣿⣿⣿⣿⣶⣶⣶⣤⣤⣈⠁⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⠃⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⢿⣱⣿⠛⠀⠀⠀⠀⠀
    ⣿⣿⣿⣿⣿⣿⣿⣿⡧⣿⣿⣿⣿⠃⠨⢡⢰⡗⢠⣿⣿⣿⣿⣿⣿⣿⡿⢿⣿⠿⠿⠿⠶⠄⡀⠀⠀⠀⠀⠀⠘⠁⡄⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠸⡻⠈⠀⠀⠀⠀⠀⠀
    ⣿⣿⣿⣿⣿⣿⣿⢿⡇⣿⣿⣿⡿⠀⠀⠆⣟⡎⣼⣿⣿⣿⣿⣿⣿⣷⣷⣶⣾⣿⠿⣣⣴⡿⠋⢀⣴⣾⠿⣠⣤⣤⣌⣀⡙⠻⠿⣿⣿⡿⠿⣛⣥⡆⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀
    ⣿⣿⣿⣿⡟⣏⠒⢦⡁⢹⣿⣿⡇⠀⠐⢀⠿⡀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠻⢿⡿⠛⣶⣾⣭⡉⣾⣿⣿⣿⣿⣿⣿⣷⣶⣤⡒⠾⠛⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠠⠀
    ⣿⣿⣿⡟⡼⢠⡛⢤⠃⢸⣿⣿⡇⠀⠀⠈⣞⠁⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢏⣾⣿⡟⠀⣼⣯⣬⢍⣼⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⡈⠄⢂⠡
    ⣿⣿⣿⣿⣱⢣⡝⠂⣡⣾⣿⣿⡇⠀⠀⡀⢜⡂⢿⣿⣿⣿⣿⣿⣿⣿⣿⣇⠿⢿⣿⣦⣼⡷⣤⣩⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠒⠠⢀⠀⠀⠀⠀⠀⠀⡣⢔⡡⢊⢄⠃
    ⣿⣿⣿⣿⣿⠟⣠⣾⣿⣿⣿⣿⣷⠀⠀⢡⠀⢖⡘⣿⣿⣿⣿⣿⣿⣿⣿⢫⣶⣶⠆⠙⠿⢿⡇⣴⣿⣿⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⡳⢎⠶⣉⠦⣉
    ⣿⣿⡿⢛⣥⣾⡿⣻⣾⣿⣿⣿⡿⠀⠀⠀⠣⡀⠳⣘⠿⣿⣿⣿⣿⣿⣿⡤⣾⡿⠀⠸⢶⣤⣼⣿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢯⣻⡝⣮⡵
    ⣫⣵⡾⠿⣟⣭⣾⣿⣿⣿⣿⠟⠁⢀⠠⢀⠀⠈⠠⢑⠳⢦⣉⡉⠛⠛⠛⢣⣶⣷⠆⣀⠲⢿⢿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠱⢿⣳⣿
    ⡛⠲⠶⠛⠛⠋⠉⡉⢉⣉⣠⣤⣶⣾⣾⣶⣆⣀⡀⠀⠉⠚⠠⠇⠱⠈⠄⠀⠛⠁⠀⠹⢻⣤⠀⣝⣛⠻⠿⠿⠿⠿⠿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿
    ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣷⣶⣦⣤⣀⡄⣀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠛⠛⠛⠹⠙⠖⠦⠒⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿
    ⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠶⠷⠾⠶⠷⠾⠶⠧⠦⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠿
  </pre> -->
  
  <pre>
    {{hentai}}
  </pre>
  <input #url style="opacity: 0;" (blur)="resetSearch()" [(ngModel)]="urlText" type="text">
</div>

<div *ngIf="urlText.length > 0" class="overflow">
  <p class="search">{{urlText}}</p>
</div>